USE [HRM]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhongTo]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongTo](
	[Id] [nvarchar](128) NOT NULL,
	[Loai] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PhongTo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhongTo] ([Id], [Loai], [Name]) VALUES (N'BLĐ', N'Ban', N'Lãnh đạo')
INSERT [dbo].[PhongTo] ([Id], [Loai], [Name]) VALUES (N'ĐT', N'Phòng', N'Đầu tư')
INSERT [dbo].[PhongTo] ([Id], [Loai], [Name]) VALUES (N'HC-TC', N'Phòng', N'Hành chánh - Tổ chức')
/****** Object:  Table [dbo].[DiaChi]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Xa] [nvarchar](max) NULL,
	[Huyen] [nvarchar](max) NULL,
	[Tinh] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DiaChi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiaChi] ON
INSERT [dbo].[DiaChi] ([Id], [Xa], [Huyen], [Tinh]) VALUES (1, NULL, NULL, NULL)
INSERT [dbo].[DiaChi] ([Id], [Xa], [Huyen], [Tinh]) VALUES (2, N'Phường 1', N'TP. Cao Lãnh', N'Đồng Tháp')
INSERT [dbo].[DiaChi] ([Id], [Xa], [Huyen], [Tinh]) VALUES (3, N'Phường 1', N'TP. Cao Lãnh', N'Đồng Tháp')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [nvarchar](128) NOT NULL,
	[HoVaChuLot] [nvarchar](max) NOT NULL,
	[Ten] [nvarchar](max) NOT NULL,
	[ChucVu] [nvarchar](max) NOT NULL,
	[NgaySinh] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[CMND] [nvarchar](max) NULL,
	[TinhTrangHonNhan] [nvarchar](max) NULL,
	[HeSoLuong] [real] NOT NULL,
	[NgayTangLuong] [nvarchar](max) NULL,
	[NgayVaoCongTy] [nvarchar](max) NULL,
	[NgayThamGiaCachMang] [nvarchar](max) NULL,
	[NgayVaoDang] [nvarchar](max) NULL,
	[DienThoaiBan] [nvarchar](max) NULL,
	[DienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[LyLuanChinhTri] [nvarchar](max) NULL,
	[GhiChuChinhTri] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[HienTai_Id] [int] NULL,
	[PhongTo_Id] [nvarchar](128) NOT NULL,
	[QueQuan_Id] [int] NULL,
 CONSTRAINT [PK_dbo.NhanVien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NhanVien] ([Id], [HoVaChuLot], [Ten], [ChucVu], [NgaySinh], [GioiTinh], [CMND], [TinhTrangHonNhan], [HeSoLuong], [NgayTangLuong], [NgayVaoCongTy], [NgayThamGiaCachMang], [NgayVaoDang], [DienThoaiBan], [DienThoai], [Email], [LyLuanChinhTri], [GhiChuChinhTri], [HinhAnh], [HienTai_Id], [PhongTo_Id], [QueQuan_Id]) VALUES (N'XS001', N'Lý Khôi', N'Văn', N'Chủ tịch', N'29/05/1958', N'Nam', N'340002343', N'Đã kết hôn', 7.3, NULL, N'01/03/2013', N'8/1976', N'12/3/1991', NULL, N'0913887110', N'lykhoivan@dowasen.com', N'Cao cấp', N'Nguyễn Ái Quốc', N'635699532488947143.jpg', 4, N'HC-TC', 8)
INSERT [dbo].[NhanVien] ([Id], [HoVaChuLot], [Ten], [ChucVu], [NgaySinh], [GioiTinh], [CMND], [TinhTrangHonNhan], [HeSoLuong], [NgayTangLuong], [NgayVaoCongTy], [NgayThamGiaCachMang], [NgayVaoDang], [DienThoaiBan], [DienThoai], [Email], [LyLuanChinhTri], [GhiChuChinhTri], [HinhAnh], [HienTai_Id], [PhongTo_Id], [QueQuan_Id]) VALUES (N'XS002', N'Lưu Hoàng', N'Tân', N'Giám đốc', N'19/04/1966', N'Nam', N'340500794', N'Đã kết hôn', 6.97, NULL, N'01/04/2013', N'3/1985', N'20/6/1992', NULL, N'0918258307', N'luuhoangtanxskt@gmail.com', N'Cao cấp', NULL, N'635699614486497134.jpg', 9, N'KT-TV', 13)
INSERT [dbo].[NhanVien] ([Id], [HoVaChuLot], [Ten], [ChucVu], [NgaySinh], [GioiTinh], [CMND], [TinhTrangHonNhan], [HeSoLuong], [NgayTangLuong], [NgayVaoCongTy], [NgayThamGiaCachMang], [NgayVaoDang], [DienThoaiBan], [DienThoai], [Email], [LyLuanChinhTri], [GhiChuChinhTri], [HinhAnh], [HienTai_Id], [PhongTo_Id], [QueQuan_Id]) VALUES (N'XS003', N'Nguyễn Thị Mỹ', N'Trang', N'Phó giám đốc', N'27/07/1964', N'Nữ', N'023923652', N'Đã kết hôn', 6.31, NULL, NULL, N'01/10/1982', N'13/12/2006', NULL, N'0913967000', N'trangxsdt@gmail.com', NULL, NULL, N'635699615133774156.png', 14, N'KH', 18)
/****** Object:  Table [dbo].[NguoiThan]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[QuanHe] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[TinhTrang] [nvarchar](max) NULL,
	[NgaySinh] [nvarchar](max) NULL,
	[NgheNghiep] [nvarchar](max) NULL,
	[ThuongTru_Id] [int] NULL,
	[NhanVien_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.NguoiThan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NguoiThan] ON
INSERT [dbo].[NguoiThan] ([Id], [Name], [QuanHe], [GioiTinh], [TinhTrang], [NgaySinh], [NgheNghiep], [ThuongTru_Id], [NhanVien_Id]) VALUES (2, N'Lý Viêm', N'Cha', N'Nam', N'Còn sống', N'1925', N'', 5, N'XS001')
INSERT [dbo].[NguoiThan] ([Id], [Name], [QuanHe], [GioiTinh], [TinhTrang], [NgaySinh], [NgheNghiep], [ThuongTru_Id], [NhanVien_Id]) VALUES (3, N'Nguyễn Thị Bông', N'Mẹ', N'Nữ', N'Còn sống', N'1926', N'', 6, N'XS001')
INSERT [dbo].[NguoiThan] ([Id], [Name], [QuanHe], [GioiTinh], [TinhTrang], [NgaySinh], [NgheNghiep], [ThuongTru_Id], [NhanVien_Id]) VALUES (4, N'Lương Thị Kim Phụng', N'Vợ', N'Nữ', N'Còn sống', N'1957', N'Hưu', 7, N'XS001')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[NguoiThan] OFF
/****** Object:  Table [dbo].[HocVan]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrinhDo] [nvarchar](max) NULL,
	[Truong] [nvarchar](max) NULL,
	[ChuyenNganh] [nvarchar](max) NULL,
	[TuNam] [nvarchar](max) NULL,
	[DenNam] [nvarchar](max) NULL,
	[NhanVien_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.HocVan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HocVan] ON
INSERT [dbo].[HocVan] ([Id], [TrinhDo], [Truong], [ChuyenNganh], [TuNam], [DenNam], [NhanVien_Id]) VALUES (2, N'Đại học', NULL, N'Luật', NULL, NULL, N'XS001')
INSERT [dbo].[HocVan] ([Id], [TrinhDo], [Truong], [ChuyenNganh], [TuNam], [DenNam], [NhanVien_Id]) VALUES (3, N'Thạc sỹ', NULL, N'Kinh doanh, quản lý', NULL, NULL, N'XS002')
INSERT [dbo].[HocVan] ([Id], [TrinhDo], [Truong], [ChuyenNganh], [TuNam], [DenNam], [NhanVien_Id]) VALUES (4, N'Đại học', NULL, N'Tài chính Kế toán', NULL, NULL, N'XS003')
SET IDENTITY_INSERT [dbo].[HocVan] OFF
/****** Object:  Table [dbo].[BangCapKhac]    Script Date: 09/10/2015 16:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangCapKhac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiBangCap] [nvarchar](max) NOT NULL,
	[TenBangCap] [nvarchar](max) NOT NULL,
	[CapDo] [nvarchar](max) NULL,
	[NhanVien_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.BangCapKhac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangCapKhac] ON
INSERT [dbo].[BangCapKhac] ([Id], [LoaiBangCap], [TenBangCap], [CapDo], [NhanVien_Id]) VALUES (1, N'Tin học', N'Trình độ B', N'', N'XS022')
INSERT [dbo].[BangCapKhac] ([Id], [LoaiBangCap], [TenBangCap], [CapDo], [NhanVien_Id]) VALUES (2, N'Ngoại ngữ', N'Trình độ A', N'', N'XS022')
INSERT [dbo].[BangCapKhac] ([Id], [LoaiBangCap], [TenBangCap], [CapDo], [NhanVien_Id]) VALUES (3, N'Tin học', N'A', N'', N'XS010')
SET IDENTITY_INSERT [dbo].[BangCapKhac] OFF
/****** Object:  ForeignKey [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.BangCapKhac_dbo.NhanVien_NhanVien_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[BangCapKhac]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BangCapKhac_dbo.NhanVien_NhanVien_Id] FOREIGN KEY([NhanVien_Id])
REFERENCES [dbo].[NhanVien] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BangCapKhac] CHECK CONSTRAINT [FK_dbo.BangCapKhac_dbo.NhanVien_NhanVien_Id]
GO
/****** Object:  ForeignKey [FK_dbo.HocVan_dbo.NhanVien_NhanVien_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[HocVan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HocVan_dbo.NhanVien_NhanVien_Id] FOREIGN KEY([NhanVien_Id])
REFERENCES [dbo].[NhanVien] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HocVan] CHECK CONSTRAINT [FK_dbo.HocVan_dbo.NhanVien_NhanVien_Id]
GO
/****** Object:  ForeignKey [FK_dbo.NguoiThan_dbo.DiaChi_ThuongTru_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[NguoiThan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NguoiThan_dbo.DiaChi_ThuongTru_Id] FOREIGN KEY([ThuongTru_Id])
REFERENCES [dbo].[DiaChi] ([Id])
GO
ALTER TABLE [dbo].[NguoiThan] CHECK CONSTRAINT [FK_dbo.NguoiThan_dbo.DiaChi_ThuongTru_Id]
GO
/****** Object:  ForeignKey [FK_dbo.NguoiThan_dbo.NhanVien_NhanVien_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[NguoiThan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NguoiThan_dbo.NhanVien_NhanVien_Id] FOREIGN KEY([NhanVien_Id])
REFERENCES [dbo].[NhanVien] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiThan] CHECK CONSTRAINT [FK_dbo.NguoiThan_dbo.NhanVien_NhanVien_Id]
GO
/****** Object:  ForeignKey [FK_dbo.NhanVien_dbo.DiaChi_HienTai_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.DiaChi_HienTai_Id] FOREIGN KEY([HienTai_Id])
REFERENCES [dbo].[DiaChi] ([Id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.DiaChi_HienTai_Id]
GO
/****** Object:  ForeignKey [FK_dbo.NhanVien_dbo.DiaChi_QueQuan_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.DiaChi_QueQuan_Id] FOREIGN KEY([QueQuan_Id])
REFERENCES [dbo].[DiaChi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.DiaChi_QueQuan_Id]
GO
/****** Object:  ForeignKey [FK_dbo.NhanVien_dbo.PhongTo_PhongTo_Id]    Script Date: 09/10/2015 16:10:18 ******/
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.PhongTo_PhongTo_Id] FOREIGN KEY([PhongTo_Id])
REFERENCES [dbo].[PhongTo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.PhongTo_PhongTo_Id]
GO
